{% extends 'asset/reports/base_report.html' %}

{% block report_content %}
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Serial Number</th>
            <th>Asset Type</th>
            <th>Model</th>
            <th>Company</th>
            <th>Purchase Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.serial_number }}</td>
            <td>{{ asset.get_type_display }}</td>
            <td>{{ asset.model }}</td>
            <td>{{ asset.company.name }}</td>
            <td>{{ asset.purchase_date|date:"Y-m-d" }}</td>
            <td>
                <a href="{% url 'asset_detail' asset.id %}" class="btn btn-sm btn-info">View</a>
                <a href="{% url 'asset_allocation_form' %}?asset_id={{ asset.id }}" class="btn btn-sm btn-success">Allocate</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No unallocated assets found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'asset/partials/pagination.html' %}
{% endblock %}